<!DOCTYPE html>
<html lang="en">
<body>
  <header id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(assets/slider/11.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">Welcome to <span>MCG</span></h1>
            <p class="animated fadeInRightBig">Ethiopian Emerging Construction Firm </p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Start now</a>
          </div>
        </div>
        <div class="item" style="background-image: url(assets/slider/22.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">MCG <span>Construction</span> PLC</h1>
            <!--<p class="animated fadeInRightBig">Bootstrap - Responsive Design - Retina Ready - Parallax</p>-->
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Start now</a>
          </div>
        </div>
        <div class="item" style="background-image: url(assets/slider/33.jpg)">
          <div class="caption">
           <h1 class="animated fadeInLeftBig">MCG <span>Construction</span> PLC</h1>
           <!-- <p class="animated fadeInRightBig">Bootstrap - Responsive Design - Retina Ready - Parallax</p>-->
           <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Start now</a>
         </div>
       </div>
     </div>
     <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
     <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>

     <a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>

   </div><!--/#home-slider-->
   <div class="main-nav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"  style="background-color: #2f3c54;">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<% link_to (root_path)%>">
          <h1>
            <%= image_tag("logo-header.png", class: "img-responsive" , alt: "MCG Construction Logo") %></h1>
          </a>                    
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">                 
            <li class="scroll active"><a href="#home" style="color: black;">Home</a></li>
            <li class="scroll"><a href="#services" style="color: black;">Service</a></li> 
            <li class="scroll"><a href="#about-us" style=" color: black;">About Us</a></li>                     
            <li class="scroll"><a href="#portfolio" style="color: black;">Portfolio</a></li>
            <li class="scroll"><a href="#team" style=" color: black;">Team</a></li>
            <li class="scroll"><a href="#blog" style=" color: black;">Blog</a></li>
            <li class="scroll"><a href="#contact" style=" color: black;">Contact</a></li>       
          </ul>
        </div>
      </div>
    </div><!--/#main-nav-->
  </header><!--/#home-->
  <section id="services">
    <div class="container">
      <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="row">
          <div class="text-center col-sm-8 col-sm-offset-2">
            <h2>Our Services</h2>
            <p>MCG provide a wide range of civil works and related infrastructure development services such as construction of roads, buildings, Dams, water and water related construction works, real estate developments and drainage systems. </p>
          </div>
        </div> 
      </div>
      <div class="text-center our-services">
        <div class="row">
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="service-icon">
              <i class="fa fa-road"></i>
            </div>
            <div class="service-info">
              <h3>Roads</h3>
              <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>-->
            </div>
          </div>
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
            <div class="service-icon">
              <i class="fa fa-building"></i>
            </div>
            <div class="service-info">
              <h3>Buildings</h3>
              <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>-->
            </div>
          </div>
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
            <div class="service-icon">
              <i class="fa fa-list"></i>
            </div>
            <div class="service-info">
              <h3>Dams</h3>
              <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>-->
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="650ms">
            <div class="service-icon">
              <i class="fa fa-tint"></i>
            </div>
            <div class="service-info">
              <h3>Water and Water Related Construction works</h3>
              <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>-->
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="750ms">
            <div class="service-icon">
              <i class="fa fa-hospital-o"></i>
            </div>
            <div class="service-info">
              <h3>Real estate</h3>
              <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>-->
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms">
            <div class="service-icon">
              <i class="fa fa-circle-o-notch"></i>
            </div>
            <div class="service-info">
              <h3>Drainage</h3>
              <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>-->
            </div>
          </div>
        </div>
      </div>
      <div class="load-more wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
        <%= link_to("Read More", home_service_path,  class: "fa fa-repeat " " btn-loadmore" )%>
      </div>
    </div>
  </section><!--/#services-->
  <section id="about-us" class="parallax">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <center> <h1 style="font-weight: bold;text-decoration: underline;">About us</h1> 
              <p style="color: black;">MCG Construction PCL is among Ethiopian emerging construction firms that aim to provide a wide range of civil works and related infrastructure development services such as construction of roads, buildings, Dams, water and water related construction works, real estate developments and drainage systems. </p>
              <p> The company was first established in August 2005 E.C as Class 5 General Contractor and has been showing diligence and dedication as a prime contractor in executing construction of various building, road & water supply projects since its establishment. <br>In December 2017, the company was grown to Class 1 Building Contractor and in advanced itself to Grade 1 General Contractor in order to comply with the ever growing construction industry of the Country.      
              .</p>
            </center> 
          </div>

          <div class="load-more wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">

           <button type="button" class="btn-loadmore" data-toggle="modal" data-target="#centralModalFluidSuccessDemo"><i class="fa fa-repeat"></i> Read More </button>
         </div>
       </div>     
     </div>
   </div>
   <!-- About us Modal Start -->
   <!-- Central Modal Fluid Success-->
   <div class="modal fade" id="centralModalFluidSuccessDemo" tabindex="-5" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fluid modal-notify modal-success" role="document">
      <!--Content-->
      <div class="modal-content" >
        <!--Header-->

        <!--Body-->
        <div class="modal-body" style="color: black;">
          <div class="text-center">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="white-text">&times;</span>
              </button>
              <p class="heading lead">About MCG Construction</p>
            </div>
            <p>MCG Construction PCL is among Ethiopian emerging construction firms that aim to provide a wide range of civil works and related infrastructure development services such as construction of roads, buildings, Dams, water and water related construction works, real estate developments and drainage systems. <br>

              The company was first established in August 2005 E.C as Class 5 General Contractor and has been showing diligence and dedication as a prime contractor in executing construction of various building, road & water supply projects since its establishment. <br>

              In December 2017, the company was grown to Class 1 Building Contractor and in ____ advanced itself to Grade 1 General Contractor in order to comply with the ever growing construction industry of the Country.      
              <br>
              MCG Construction plc envisaged being the preferred partner and total solution provider to its clients, offering outstanding services in both local and across-boarder construction markets.  It is the mission of MCG Construction plc to remain competitive in all its markets by proactively anticipating clients’ needs and through maintaining motivated, skilled and best engineering construction and support teams that is capable of providing unique construction services.  By doing so, it aims at generating reasonable profit to its shareholders as well as continues playing active role in the country’s infrastructure and overall development efforts. <br>
              The main objective of MCG Construction plc is to consistently fulfill the highest client satisfaction using its expertise in the construction industry. As to the core values, the company strive to: <br>
              • Conduct business with utmost integrity, accountability and responsibility to all of its stake holders; 
              <br>
              • Contribute to the creation of a conductive competitive atmosphere in terms of cost and quality of construction works;<br> 
              • Develop into one of the leading construction firms in the country that continues to create employment opportunities and provide a wide scale construction related services. <br>
              MCG Construction plc success and growth in the ranging infrastructure development services will be a result of its owners’ commitment to invest in latest technology and the adoption of innovative construction method to be provided to its clients.   <br>
              Also, the basis of MCG Construction plc organic growth is provision of diverse infrastructure development services, engaging in new areas of constructions with a high growth potential as well as the emphasis given to putting in place an efficient and improved logistics and supply chain management system, to further provide detail account of its operational strategy.<br>

              MCG Construction plc overall strategy will rely on a continuous improvement including the process of setting innovative objectives, measuring result and providing feedback to facilitate further growth and progress.  Included in the schemes are detailed monthly, quarterly and annual plans and reporting as well as risk and mitigation management plans for unforeseen circumstances such as price escalation.    <br>
              MCG Construction plc shall adopt a corporate strategy that is dedicated to improving the performance of activities on the critical path of its clients’ projects.  The company does this by building on its core strengths, innovative equipment, construction engineering expertise as well as project and site management with an environment of safety excellence.  <br>
              From the clients’ point of view, this strategy translates into benefits such as project cost reduction, quality construction practices, reduction of set-up time for stake holders, increased site safety and review of plans and schedule.  In a nutshell, MCG Construction plc in will manage any of its clients’ construction projects in complete, thoughtful efficient and cost-effective way.<br>

              MCG Construction plc strives to maintain technological leadership through the integrated use of the most up-to-date construction equipment, tools, well organized management system, qualified manpower and healthy financial positions. Besides the ongoing efforts of building comprehensive capabilities and combining professional and technical resources required to develop innovative and cost-effective solutions that fulfill its clients’ needs, MCG Construction plc capabilities are instrumental to meeting the aggressive implementation schedules of all projects. <br>  

              MCG Construction plc will work in a decentralized fashion with client-oriented project management, financial, logistical and administrative goals. The company is organized in a well-defined responsibility area manner and the departments are acting as independent functioning units. Controlling and monitoring functions are based on close supervision by the senior executives of MCG Construction plc <br>

              To remain consistent with the overall strategy of minimizing costs and delivering improved services, MCG Construction plc is cautious of developing a large employee or operations infrastructure.  Apart from deploying proven innovative techniques, a few aspects or components of the projects will be designed to be outsourced as deemed appropriate. This dramatically reduces the in-house requirements for unnecessary manpower and excessive operating procedures.  <br>
              MCG Construction plc has been flexibly organized with a structure reliant on a process based division of responsibilities in order to run an efficient and diversified   enterprise.  The company is fairly departmentalized and main functioning entities under the General Manager include Engineering (Construction), operation and Support Service Departments. 
            </p>
          </div>
        </div>

      </div>
      <!--/.Content-->
    </div>
  </div>
  <!-- Central Modal Fluid Success-->
  <!-- About Us Modal End -->
</section><!--/#about-us-->

<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2>OnGoing Projects</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
      </div>
    </div> 
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="folio-image">
            <img class="img-responsive" src="assets/portfolio/1.png" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>Adama Medical Colloge </h3>
                  <p>G+6 Dormitory Bldg</p>
                </div>
                <div class="folio-overview">
                  <span class="folio-expand"><a href="assets/portfolio/1.png" data-lightbox="portfolio"><i class="fa fa-search-plus"></i>View Project</a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="400ms">
          <div class="folio-image">
            <img class="img-responsive" src="assets/portfolio/2.png" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>Time Hours</h3>
                  <p>Design, Photography</p>
                </div>
                <div class="folio-overview">
                  <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-single.html" ><i class="fa fa-link"></i></a></span>
                  <span class="folio-expand"><a href="images/portfolio/portfolio-details.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
          <div class="folio-image">
            <img class="img-responsive" src="assets/portfolio/3.png" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>Time Hours</h3>
                  <p>Design, Photography</p>
                </div>
                <div class="folio-overview">
                  <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-single.html" ><i class="fa fa-link"></i></a></span>
                  <span class="folio-expand"><a href="images/portfolio/portfolio-details.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="folio-image">
            <img class="img-responsive" src="assets/portfolio/4.png" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>Time Hours</h3>
                  <p>Design, Photography</p>
                </div>
                <div class="folio-overview">
                  <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-single.html" ><i class="fa fa-link"></i></a></span>
                  <span class="folio-expand"><a href="images/portfolio/portfolio-details.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="700ms">
          <div class="folio-image">
            <img class="img-responsive" src="assets/portfolio/5.png" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>Time Hours</h3>
                  <p>Design, Photography</p>
                </div>
                <div class="folio-overview">
                  <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-single.html" ><i class="fa fa-link"></i></a></span>
                  <span class="folio-expand"><a href="images/portfolio/portfolio-details.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="800ms">
          <div class="folio-image">
            <img class="img-responsive" src="assets/portfolio/6.png" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>Time Hours</h3>
                  <p>Design, Photography</p>
                </div>
                <div class="folio-overview">
                  <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-single.html" ><i class="fa fa-link"></i></a></span>
                  <span class="folio-expand"><a href="images/portfolio/portfolio-details.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="900ms">
          <div class="folio-image">
            <img class="img-responsive" src="images/portfolio/7.jpg" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>Time Hours</h3>
                  <p>Design, Photography</p>
                </div>
                <div class="folio-overview">
                  <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-single.html" ><i class="fa fa-link"></i></a></span>
                  <span class="folio-expand"><a href="images/portfolio/portfolio-details.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="1000ms">
          <div class="folio-image">
            <img class="img-responsive" src="images/portfolio/8.jpg" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>Time Hours</h3>
                  <p>Design, Photography</p>
                </div>
                <div class="folio-overview">
                  <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-single.html" ><i class="fa fa-link"></i></a></span>
                  <span class="folio-expand"><a href="images/portfolio/portfolio-details.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  <div id="portfolio-single-wrap">
    <div id="portfolio-single">
     <div class="load-more wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
      <a href="#" class="btn-loadmore"><i class="fa fa-repeat"></i> Load More</a>
    </div>
  </div>
</div><!-- /#portfolio-single-wrap -->
</section><!--/#portfolio-->

<section id="team">
  <div class="container">
    <div class="row">
      <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
        <h2>The Team</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
      </div>
    </div>
    <div class="team-members">
      <div class="row">
        <div class="col-sm-3">
          <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="member-image">
              <img class="img-responsive" src="assets/team/2.png" alt="">
            </div>
            <div class="member-info">
              <h3>Jagema Keneni Hora</h3>
              <h4>CEO &amp; General Manager</h4>
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
            </div>
            <div class="social-icons">
              <ul>
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="500ms">
            <div class="member-image">
              <img class="img-responsive" src="assets/team/2.png" alt="">
            </div>
            <div class="member-info">
              <h3>Hello</h3>
              <h4>Designer</h4>
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
            </div>
            <div class="social-icons">
              <ul>
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="800ms">
            <div class="member-image">
              <img class="img-responsive" src="assets/team/2.png" alt="">
            </div>
            <div class="member-info">
              <h3>Hello</h3>
              <h4>Developer</h4>
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
            </div>
            <div class="social-icons">
              <ul>
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="1100ms">
            <div class="member-image">
              <img class="img-responsive" src="assets/team/2.png" alt="">
            </div>
            <div class="member-info">
              <h3>Hello</h3>
              <h4>Support Manager</h4>
              <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
            </div>
            <div class="social-icons">
              <ul>
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>            
  </div>
</section><!--/#team-->

<section id="features" class="parallax">
  <div class="container">
    <div class="row count">
      <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
        <i class="fa fa-user"></i>
        <h3 class="timer">4000</h3>
        <p>Clients</p>
      </div>
      <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
        <i class="fa fa-building"></i>
        <h3 class="timer">200</h3>                    
        <p>Constructions</p>
      </div> 
      <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="700ms">
        <i class="fa fa-trophy"></i>
        <h3 class="timer">10</h3>                    
        <p style="color: #000;">WINNING AWARDS</p>
      </div> 
      <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="900ms">
        <i class="fa fa-comment-o"></i>                    
        <h3>24/7</h3>
        <p>Fast Support</p>
      </div>                 
    </div>
  </div>
</section><!--/#features-->

<section id="pricing">
  <div class="container">
    <div class="row">
      <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
        <h2 style="font-family: serif;">What are We Good at?</h2>
        <p style="font-size: 16px;">When comparing our capabilities and resources with that of competitors, there are resources with that of competitors, there are many pluses that you can get. Some of them are:
        </p>
      </div>
    </div>
    <div class="pricing-table">
      <div class="row">

        <div class="col-sm-3" style="background-color: #e1f5fe;">
          <div class="single-table wow flipInY" data-wow-duration="1000ms" data-wow-delay="500ms">

            <ul>
              <li>Great experience gathered through many ears of service delivery the above-mentioned services in each of the sites.</li>

            </ul>
          </div>
        </div>
        <div class="col-sm-3" style="background-color: #e1f5fe;">
          <div class="single-table wow flipInY" data-wow-duration="1000ms" data-wow-delay="1100ms">
           <ul>
            <li>• Recognized and licensed</li>
          </ul>
        </div>
      </div>

      <div class="col-sm-3" style="background-color: #e1f5fe;">
        <div class="single-table wow flipInY" data-wow-duration="1000ms" data-wow-delay="1100ms">
          <ul>
            <li>Flexible provision of services tailored to unique needs of our customer companies and a dedicated resource for administration of workforce.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</section><!--/#pricing-->

<section id="twitter" class="parallax">
  <div>
    <a class="twitter-left-control" href="#twitter-carousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
    <a class="twitter-right-control" href="#twitter-carousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="twitter-icon text-center">
            <i class="fa fa-twitter"></i>
            <h4>Client Comment</h4>
          </div>
          <div id="twitter-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="item active wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h3 style="font-weight: bold;">Client Name <br> <br>Client Position </h3>
                <p> Introducing Shortcode generator for Helix V2 based templates <a href="#"><span>#helixframework #joomla</span> http://bit.ly/1qlgwav</a></p>
              </div>
              <div class="item">
                <p> Client Name <br>  Client Position <br> Introducing Shortcode generator for Helix V2 based templates <a href="#"><span>#helixframework #joomla</span> http://bit.ly/1qlgwav</a></p>
              </div>
              <div class="item">                                
                <p> Client Name <br> Client Position <br> Introducing Shortcode generator for Helix V2 based templates <a href="#"><span>#helixframework #joomla</span> http://bit.ly/1qlgwav</a></p>
              </div>
            </div>                        
          </div>                    
        </div>
      </div>
    </div>
  </div>
</section><!--/#twitter-->

<section id="blog">
  <div class="container">
    <div class="row">
      <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
        <h2>Blog Posts</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
      </div>
    </div>
    <div class="blog-posts">
      <div class="row">
        <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
          <div class="post-thumb">
            <a href="#"><img class="img-responsive" src="assets/blog/1.jpg" alt=""></a> 
            <div class="post-meta">
              <span><i class="fa fa-comments-o"></i> 3 Comments</span>
              <span><i class="fa fa-heart"></i> 0 Likes</span> 
            </div>
            <div class="post-icon">
              <i class="fa fa-pencil"></i>
            </div>
          </div>
          <div class="entry-header">
            <h3><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit</a></h3>
            <span class="date">June 26, 2014</span>
            <span class="cetagory">in <strong>Photography</strong></span>
          </div>
          <div class="entry-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>
        </div>
        <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="post-thumb">
            <div id="post-carousel"  class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#post-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#post-carousel" data-slide-to="1"></li>
                <li data-target="#post-carousel" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active">
                  <a href="#"><img class="img-responsive" src="images/blog/2.jpg" alt=""></a>
                </div>
                <div class="item">
                  <a href="#"><img class="img-responsive" src="images/blog/1.jpg" alt=""></a>
                </div>
                <div class="item">
                  <a href="#"><img class="img-responsive" src="images/blog/3.jpg" alt=""></a>
                </div>
              </div>                               
              <a class="blog-left-control" href="#post-carousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
              <a class="blog-right-control" href="#post-carousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
            </div>                            
            <div class="post-meta">
              <span><i class="fa fa-comments-o"></i> 3 Comments</span>
              <span><i class="fa fa-heart"></i> 0 Likes</span> 
            </div>
            <div class="post-icon">
              <i class="fa fa-picture-o"></i>
            </div>
          </div>
          <div class="entry-header">
            <h3><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit</a></h3>
            <span class="date">June 26, 2014</span>
            <span class="cetagory">in <strong>Photography</strong></span>
          </div>
          <div class="entry-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>
        </div>
        <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="800ms">
          <div class="post-thumb">
            <a href="#"><img class="img-responsive" src="images/blog/3.jpg" alt=""></a>
            <div class="post-meta">
              <span><i class="fa fa-comments-o"></i> 3 Comments</span>
              <span><i class="fa fa-heart"></i> 0 Likes</span> 
            </div>
            <div class="post-icon">
              <i class="fa fa-video-camera"></i>
            </div>
          </div>
          <div class="entry-header">
            <h3><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit</a></h3>
            <span class="date">June 26, 2014</span>
            <span class="cetagory">in <strong>Photography</strong></span>
          </div>
          <div class="entry-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>
        </div>                    
      </div>
      <div class="load-more wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
        <a href="#" class="btn-loadmore"><i class="fa fa-repeat"></i> Load More</a>
      </div>                
    </div>
  </div>
</section><!--/#blog-->

<section id="contact">
  <div class="google-maps" id="map-canvas">
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d801.6359477739591!2d38.74914282915233!3d9.045410324021454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zOcKwMDInNDMuNSJOIDM4wrA0NCc1OC45IkU!5e1!3m2!1sen!2set!4v1570706027022!5m2!1sen!2set" width="1340" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
 </div>
 <hr>
 <hr>
 <div id="contact-us" class="parallax">
  <div class="container">
    <div class="row">
      <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2>Contact Us</h2>
        <p>Ready to start your next Succes with us? That's great ! Give us a call or send us an email and we will get back to you in no time.</p>
      </div>
    </div>
    <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
      <div class="row">
        <div class="col-sm-6">
          <form id="main-contact-form" name="contact-form" method="post" action="#">
            <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" placeholder="Name" required="required">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="email" name="email" class="form-control" placeholder="Email Address" required="required">
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" name="subject" class="form-control" placeholder="Subject" required="required">
            </div>
            <div class="form-group">
              <textarea name="message" id="message" class="form-control" rows="4" placeholder="Enter your message" required="required"></textarea>
            </div>                        
            <div class="form-group">
              <button type="submit" class="btn-submit">Send Now</button>
            </div>
          </form>   
        </div>
        <div class="col-sm-6">
          <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <ul class="address">
              <li><i class="fa fa-map-marker"></i> <span> Address:</span> Addis Ababa, Ethiopia. Arada Sub city , Semien Hotel,Senegal Street </li>
              <li><i class="fa fa-phone"></i> <span> Phone:</span><a href="callto:+251929900660">+251-929900660</a><a href="callto:+2518688889"> +2518688889</a> <a href="callto:+2518688890"> +2518688890</a> </li>
              <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:mcgconplc@gmail.com"> mcgconplc@gmail.com</a></li>
              <li><i class="fa fa-globe"></i> <span> Website:</span> <a href="#">www.sitename.com</a></li>
              <li><div class="form-group">
                <hr>
                <input type="text" name="Letter" class="form-control" placeholder="Subsscribe to our News Letter">
              </div>
              <div class="form-group">
                <button type="submit" class="btn-submit">Subscribe</button>
              </div></li>
            </ul>
          </div>                            
        </div>
      </div>
    </div>
  </div>
</div>        
</section><!--/#contact-->
<footer id="footer">
  <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
    <div class="container text-center">
      <div class="footer-logo">

       <%= image_tag("mcg_logo.png", class: "img-responsive" , alt: "MCG Construction Logo") %>
     </div>
     <div class="social-icons">
      <ul>
        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li> 
        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>

  </div>
</div>
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>&copy; 2019 <a href="https://yesuitsolution.com"> YESU IT Solution PLC.</a></p>
      </div>
    </div>
  </div>
</div>
</footer>


<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
</body>
</html>